body {
    background-image:url(hedgie.jpg);
    background-size: cover;
    height: 100vh;
    text-align: center;
}

.container {
    background: white;
    margin: auto;
    width: 35%;
    border: 3px solid black;
    border-radius: 30px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 5.0em;
}

#increment-btn {
    position: relative;
    left: 155px;
    bottom: 10px;
    width: 200px;
    height: 50px;
    font-size: xx-large;
    background-color: green;
    color: white;
    border-radius: 20px;
}

#decrement-btn {
    position: relative;
    right: 50px;
    top: 50px;
    width: 200px;
    height: 50px;
    font-size: xx-large;
    background-color: rgb(221, 17, 17);
    color: white;
    border-radius: 20px;
}

#save-btn {
    position: relative;
    right: 400px;
    bottom: 170px;
    width: 100px;
    height: 30px;
    background-color:rgb(25, 156, 189);
    color: white;
}

#save {
    font-size: 3.0em;
    font-weight: bold;
    color: rgb(0, 0, 0);
}